/* You can add global styles to this file, and also import other style files */
@import '~admin-lte/dist/css/adminlte.css';

[class*='sidebar-dark-'] {
    background-color: #151E8B;
}
[class*='sidebar-dark'] .brand-link {
    color: #fff;
    font-weight: bold;
    text-align: center;
}